#clock {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    border: 10px solid black;
    border-radius: 50%;
    position: relative;
}
#seconds {
    width: 4px;
    height: 180px;
    background-color: gray;
    margin-left: 198px;
    margin-top: 20px;
    animation: rotate 60s infinite linear;
    position: absolute;
}